

body {

    background-color: aqua; 
}

img{
    border-top: 2px solid black;    
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 20px;
    width: 15rem; 
    height: auto;
    text-decoration: overline;
}

.foot.container{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.subscribe{

    text-align: left;
}